root = true

[*.cs]
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.SpecialRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.SpacingRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.ReadabilityRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.NamingRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.MaintainabilityRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.LayoutRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

dotnet_diagnostic.SA1123.severity = error
dotnet_diagnostic.SA1124.severity = error
dotnet_diagnostic.SA1201.severity = error
dotnet_diagnostic.SA1208.severity = error
dotnet_diagnostic.SA1210.severity = error
dotnet_diagnostic.SA1300.severity = error
dotnet_diagnostic.SA1649.severity = error
dotnet_diagnostic.SA1400.severity = error
dotnet_diagnostic.SA1402.severity = error
dotnet_diagnostic.SA1413.severity = error
dotnet_diagnostic.SX1309.severity = error
dotnet_diagnostic.SX1309S.severity = error
dotnet_diagnostic.SA1303.severity = error
dotnet_diagnostic.SA1312.severity = error
dotnet_diagnostic.SA1500.severity = error
dotnet_diagnostic.SA1503.severity = error
dotnet_diagnostic.SA1507.severity = error
dotnet_diagnostic.SA1517.severity = error
dotnet_diagnostic.SA1518.severity = error
dotnet_diagnostic.SA1520.severity = error
dotnet_diagnostic.SA1302.severity = error
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1516.severity = none

[backend/GTAMapQuant.DAL/Migrations/*.cs]
dotnet_diagnostic.SA1413.severity = none
